.footer {
    margin-top: 75px;
    color: #A79997;
    font-family: 'Product Sans', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;

    &-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 768px) {
            justify-content: space-between;
        }

        @media screen and (min-width: 768px) {
            justify-content: center;
        }

    }

    &-about {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
    }

    &-quote {
        text-align: center;
        max-width: 450px;

        @media screen and (min-width: 768px) {
            text-align: left;;
        }
    }

    &-contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        width: 100%;

        &__link {
            color: #A79997;
            text-decoration: none;
            transition: .4s;
            display: flex;
            align-items: center;
            justify-content: center;
            &_phone::before {
                content: url(../img/contacts/phone.svg);
            }

            &_email::before {
                content: url(../img/contacts/email.svg);
            }

            &_address::before {
                content: url(../img/contacts/address.svg);
            }

            &::before {
                padding-right: 15px;
            }

            &:hover {
                color: #FF715B;
            }
        }

        @media screen and (min-width: 768px) {
            align-items: flex-start;
        }
    }

    &-right {
        display: none;
        flex-direction: row;
        gap: 70px;
        padding-left: 50px;

        &__title {
            font-family: 'Noto Serif';
            font-weight: 700;
            font-size: 1.75rem;
            line-height: 1.8rem;
            color: #000000;
        }

        &__links {
            margin-top: 15px;
            list-style: none;
        }

        &__link {
            font-size: 1.125rem;
            line-height: 233%;
            margin-top: 10px;

            &-link {
                color: #A79997;
                text-decoration: none;
                transition: .4s;

                &:hover {
                    color: #FF715B;
                }

                &::before {
                    content: '-';
                    margin-right: 15px;
                }
            }

        }

        &__support {
            display: none;

            @media screen and (min-width: 1140px) {
                display: block;
            }
        }

        &__newsletter {
            display: none;

            &-form {
                margin-top: 45px;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            &-input {
                background: #F8F8F8;
                border: 1px solid #F5EBE9;
                height: 60px;
                width: 400px;
            }

            &-button {
                width: 200px;
            }
    
            @media screen and (min-width: 1660px) {
                display: block;
            }
        }

        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #F5EBE9;
        margin-top: 5.625rem;

        &__copyright {
            font-family: 'Product Sans', sans-serif;
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 144%;
            text-align: center;
            color: #A79997;
            margin: 30px 0;

            &-link {
                transition: .4s;
                color: #FF715B;
                text-decoration: none;

                &:hover {
                    opacity: .7;
                }
            }
        }   
    }

    @media screen and (min-width: 1660px) {
        margin-top: 180px;
    }

}