$hamburger-layer-spacing: 3px;
$hamburger-layer-height: 3px;
$hamburger-padding-x: 10px;
$hamburger-padding-y: 10px;
$hamburger-layer-color: #2C2C2C;

@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
