* {
    box-sizing: border-box;
}
.banner {
    position: relative;

    &__forward {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__title {
        text-align: left;
        position: sticky;
        z-index: 100;
        margin-top: 17%;
        margin-left: 8%;
        width: 50%;
        font-size: 4.375vw;
        line-height: 5.83vw;
    }

    &__button {
        position: sticky;
        z-index: 100;
        margin-left: 8%;
        margin-top: 2.6%;
        margin-bottom: 20%;
    }
}

.discover {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #FFFFFF;
    transition: .4s;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 1660px) {
            flex-direction: row;
            gap: 60px;
            margin-left: 45px;
            margin-right: 45px;
        }
    }

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    @media screen and (min-width: 1660px) {
        width: inherit;
        height: 154px;
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: unset;
        left: unset;
        bottom: 10px;
        right: 0;
        box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
    }
}

.form {

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid #F5EBE9;
        margin-top: 10px;

        label {
            font-size: 1rem;
            line-height: 1.21875rem;
            color: #A79997;
        }
    }

    &__title {
        display: none;
    }

    &__input {
        border: none;
        outline: none;
        border-radius: 0.5px;
        width: 240px;
        height: 64px;
        background: none;
        color: #FF715B;
        font-weight: 700;
        font-size: 1.125rem;
        font-family: 'Noto Serif', serif;

        option {
            width: 240px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &::placeholder {
            color: #ff715b52;
        }
    }
}

.discover__price {
    width: 50%;
}

.price {
    &-label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-range {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;

        &__sep {
            font-weight: 700;
            color: #FF715B;
            letter-spacing: 0;
            transform: scaleX(200%);
            margin-right: 10%;
            
        }

        &::after {
            content: '$';
            color: #FF715B;
            font-weight: 700;
            font-size: 18px;
            font-family: 'Noto Serif', serif;
        }
    }
    
}
.cards {
    display: grid;
    grid-template-columns: repeat(1, 326px);
    grid-auto-rows: 326px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 105px;
    margin-top: 70px;
    &__item {
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 40px 40px;
        position:relative;
        background: #F8F8F8;
        border-radius: 5px;
        cursor: pointer;
        transition: .4s;
        user-select: none;

        &:hover {
            background-color: #FFFFFF;
            filter: drop-shadow(0px 12px 30px rgba(200, 180, 180, 0.2));

        }
    }

    &__icon {
        margin: 0 auto;
        margin-bottom: 21px;
        height: 100px;

    }

    &__title {
        margin-bottom: 20px;
        color: #263238;
        font-size: 1.5rem;
        line-height: 2.0625rem;
        font-weight: 700;
    }

    &__text {
        font-family: 'Product Sans', sans-serif;
        font-weight: 400;
        font-size: 1.125em;
        line-height: 144%;
        color: #A79997;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 326px);
    }

    @media screen and (min-width: 1660px) {
        grid-template-columns: repeat(4, 326px);
        margin-bottom: 270px;
    }
}

.destinations {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 75px;

    &__title {

        &_highlited {
            color: #FF715B;
        }
    }

    &__desc {
        margin-top: 40px;
        font-family: 'Product Sans', sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 144%;
        color: #A79997;
    }

    &__button {
        margin-top: 60px;
    }

    &__cities {
        $backgroundGradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 47.69%, rgba(0, 0, 0, 0.8) 100%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        &_cuba {
            
            background-image: $backgroundGradient, url(../img/destinations/1cuba.png);
        }

        &_paris {
            background-image: $backgroundGradient, url(../img/destinations/2paris.png);
        }

        &_japan {
            background-image: $backgroundGradient, url(../img/destinations/3japan.png);
            
            @media screen and (min-width: 768px) {
                grid-column: 1 / -1;
                justify-self: center;
            }

            @media screen and (min-width: 1660px) {
                grid-column: auto;
            }
        }

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1660px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__city {
        width: 330px;
        height: 400px;
        background-color: #C4C4C4;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: .4s;
        opacity: 1;
        cursor: pointer;
        user-select: none;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            opacity: 0.5;
        }

        &-title {
            font-weight: 700;
            font-size: 1.75rem;
            line-height: 2.375rem;
            color: #FFFFFF;
            position: absolute;
            bottom: 30px;
            left: 30px;
        }
    }

    @media screen and (min-width: 1660px) {
        flex-direction: row;

        &::after {
            z-index: -1;
            position: absolute;
            content: '';
            background-color: #F7F7F7;
            right: -6.25vw;
            width: 41vw;
            height: calc(400px + 180px);

        }
    }

    @media screen and (min-width: 1660px) {
        margin-bottom: 270px;
    }
}

.tours {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image {
        &-wrapper {
            position: relative;
            display: none;
    
            &::before {
                z-index: -1;
                content: url(../img/tours/ractangle.svg);
                position: absolute;
                top: -55px;
                right: -55px;
            }
    
            &::after {
                z-index: -1;
                content: url(../img/tours/dots.svg);
                position: absolute;
                bottom: -78px;
                left: -78px;
            }
    
            @media screen and (min-width: 1660px) {
                display: block;
            }

            div::after {
                z-index: -1;
                position: absolute;
                content: '';
                height: 90.7%;
                width: 216px;
                top: 32px;
                right: 0;
                background: #FFCBC4;
                filter: blur(150px);
            }
        }

        &-img {
            position: relative;
            display: block;
        }
    }    

    &__tips {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        gap: 50px;

    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__tip {
        display: flex;
        flex-direction: row;
        gap: 40px;
        

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 25px;
        }

        &-title {
            font-weight: 700;
            color: #000000;
            font-size: 1.5rem;
            line-height: 2.0625rem;
        }

        &-desc {
            font-weight: 400;
            color: #A79997;
            font-size: 1.125rem;
            line-height: 144%;
        }
    }

    

    @media screen and (min-width: 1660px) {
        margin-top: 0;
        flex-direction: row;
        gap: 150px;
        
        &::before {
            content: url(../img/tours/ellipse.svg);
            top: 50%;
            left: 0;
        }
    }
}

.choose {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__cards {
        margin-top: 40px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        width: 100%;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1660px) {
            grid-template-columns: repeat(3, 450px);
        }
    }

    &__card {
        margin-top: 50px;
        position: relative;
        width: 330px;
        height: 400px;
        justify-self: center;
        background-position: center center;
        background-size: cover;

        &-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 20px;
            padding: 10px 17.5px;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 89%;
            height: 105px;
            transform: translateY(50%);
            background-color: #FFFFFF;
            box-shadow: 0px 10px 25px rgba(215, 190, 190, 0.2);
        }

        &-title {
            color: #000000;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.0625rem;

            @media screen and (min-width: 1660px) {
                font-size: 1.5rem;
                line-height: 2.0625rem;
            }
        }

        &_bottom {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;

            @media screen and (min-width: 1660px) {
                justify-content: space-between;
            }
        }

        &-price {
            color: #FF715B;
            font-weight: 700;
            font-size: 0.75rem;
            line-height: 1rem;

            &::before {
                content: '$';
            }
            
            @media screen and (min-width: 1660px) {
                font-size: 1.125rem;
                line-height: 1.375rem;
            }
        }

        &-rate {
            font-family: 'Product Sans', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 7px;
            color: #A79997;
            transform: scale(.75);
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 1rem;
            width: 100%;
            
            &::before {
                content: url(../img/choose/stars-5.svg);
            }

            @media screen and (min-width: 1660px) {
                font-size: 1.125rem;
                line-height: 1.375rem;
                transform: none;
                justify-content: flex-end;
            }
        }

        &-button {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FF715B;
            cursor: pointer;
            user-select: none;
            transition: .4s;

            &-cross {
                font-family: 'Product Sans', sans-serif;
                font-weight: 700;
                font-size: 1.5rem;
                color: #FFFFFF;
                transition: .4s;
            }

            &:hover {
                opacity: 0.9;
            }

            &:active {
                opacity: 0.7;
            }
            
        }


        &_1 {
            background-image: url(../img/choose/choose-1.png);

            @media screen and (min-width: 1660px) {
                position: relative;

                &::before {
                    position: absolute;
                    content: url(../img/choose/triangle.svg);
                    width: 169px;
                    height: 169px;
                    top: -199px;
                    right: 0;
                }
            }
        }

        &_2 {
            background-image: url(../img/choose/choose-2.png);

            @media screen and (min-width: 1660px) {
                transform: translateY(-199px);
            }
        }

        &_3 {
            background-image: url(../img/choose/choose-3.png);

            @media screen and (min-width: 768px) {
                grid-column: 1 / -1;
                justify-self: center;
            }
            @media screen and (min-width: 1660px) {
                grid-column: auto;
                position: relative;

                &::before {
                    position: absolute;
                    content: url(../img/choose/quater-sphere.svg);
                    width: 169px;
                    height: 169px;
                    top: -199px;
                    left: 0;
                }

            }
        }

        @media screen and (min-width: 1660px) {
            margin-top: 260px;
            width: 450px;
            height: 535px;
        }
    }

    &__button {
        grid-column: 1/-1;
        width: 240px;
        margin: 0 auto;
        margin-top: 52.5px;

        @media screen and (min-width: 1660px) {
            grid-column: 1/-1;
            margin-top: 0;
            transform: translateY(-50%);
        }
    }

    @media screen and (min-width: 1660px) {
        margin-top: 250px;
    }
}

.reviews {
    position: relative;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {

        &-wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;

            @media screen and (min-width: 1660px) {    
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 172px;
                    height: 172px;
                    background: #9CD9EC;
                    filter: blur(70px);
                    border-radius: 50%;
                }
            }
        }

        @media screen and (min-width: 1660px) {
            max-width: 710px;
            text-align: center;
        }
    }

    &__wrapper {
        opacity: 1;
        transition: .4s;
    }

    &-slider {
        padding: 10.1% 8.6%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #FFFFFF;
        box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);

        &__wrapper {
            max-width: 690px;
            margin-top: 75px;
            position: relative;
            &::before {
                z-index: 1000;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 11.74px;
                background-color: #FF715B;
                box-shadow: 0px 20px 40px rgba(227, 202, 202, 0.3);
            }
        }

        @media screen and (min-width: 1660px) {
            position: relative;
            &::before {
                z-index: -1;
                position: absolute;
                content: url(../img/reviews/ellipse.svg);
                width: 242px;
                height: 242px;
                bottom: -94px;
                right: -110px;
            }
        }
    }

    &__client {
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &-left {
            position: relative;
            width: 80px;
            height: 80px;
        }

        &-img {
            height: 80px;
            width: 80px;
        }

        &-name {
            color: #000000;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2.0625rem;
        }
        &-speciality {
            font-family: 'Product Sans', sans-serif;
            color: #FF715B;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.375rem;
        }
    }

    &__review {
        margin-top: 50px;
        margin-bottom: 50px;

        &-text {
            font-family: 'Product Sans', sans-serif;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2.25rem;
            text-align: center;
            color: #A79997;

        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        &-btn {
            position: relative;
            background-color: #C4C4C4;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            transition: .4s;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                width: 22px;
                height: 22px;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                border: 2px solid #FF715B;
                border-radius: 50%;
                visibility: hidden;
                opacity: 0;
                transition: .4s;
            }

            &.is-active {
                position: relative;
                background-color: #FF715B;
                &::before {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &__background {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &_item {
            position: absolute;

            &-1 {
                left: 185px;
                top: 250px;
            }

            &-2 {
                top: 50%;
            }

            &-3 {
                left: 243px;
                bottom: 217px;
            }

            &-4 {
                bottom: 65px;
                left: 15px;
            }

            &-5 {
                top: 244px;
                right: 0;
            }

            &-6 {
                bottom: 230px;
                right: 250px;
            }

            &-7 {
                bottom: 25px;
                right: 55px;
            }
        }

        @media screen and (min-width: 1660px) {
            display: block;
        }
    }
    
    @media screen and (min-width: 1660px) {
        margin-top: 250px;
        min-height: 785px;
    }
}

.download {
    position: inherit;
    margin-top: 75px;
    width: 100vw;
    background: linear-gradient(90deg, #CEFEFE 0%, #DDF181 100%);
    left: -6.25vw;
    padding: 6.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        text-align: center;
        @media screen and (min-width: 1660px) {
            text-align: left;
            align-self: flex-start;
            max-width: 600px;
        }
    }

    &__buttons {
        margin-top: 3.125vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__apps {
        display: none;
        position: absolute;

        @media screen and (min-width: 1660px) {
            display: block;
            bottom: -35px;
            right: 90px;
        }
    }
    
    @media screen and (min-width: 1660px) {
        width: auto;
        position: relative;
        align-items: flex-start;
        left: auto;
        min-height: 550px;
        min-width: 1600px;
        margin: 0 auto;
        margin-top: 200px;
    }
}